* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

#input, #output {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    padding: 20px;
    font-size: 14px;
    font-family: monospace;
}

#output {
    white-space: pre;
}

#input {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
}
